h1, h2, h3, p, a, table {
    color: linen;
    text-align: justify;
}

nav {
    display: block;
  }

.body {
    background-image: url(static/pictures/programmer.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#W {
    color: mediumvioletred;
}
#W:hover {
    color: blueviolet;
}

#welcome {
    padding: 30px;
    text-align: left;
    vertical-align: bottom;
}

table {
    border: 2px solid linen;
    border-collapse: collapse;
    width: 85%;
    text-align: center;
}

th, td {
    border: 1px solid linen;
    padding: 5px;
}
